:root {
    --dark: #13293d;
    --light: #fff;
    --navlink-color: #b9c6ae;
    --main_font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
    font-family: var( --main_font);
    background-color: var(--dark);
    color: var(--light);
}

h1 {
    font-size: 400%;
    padding: 10px 10px 10px 100px;
    background-color: var(--navlink-color);
    color: var(--dark);
}

h2 {
    font-size: 300%;
    text-align: right;

}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    
}

nav a {
    background-color: unset;
    color: var(--navlink-color);
    margin-left: 30px;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: var(--light);
}

figure {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/tablet.jpg");
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-flow: column;
}

section {
    font-family: var( --main_font);
    display: flex;
    flex-flow: row;
    margin: 40px;
}

aside {
    flex: 1;
    padding: 10px 10px 10px 80px;
    text-align: center;
    border-right: solid;
}

article {
    flex: 4;
    background-color: #fff;
    padding: 20px;
}

article p {
    justify-content: space-around;
}


@media screen and (max-width: 992px) {

    header,
    section {
        flex-direction: column;
        /* align-items: center; */
    }

    main {
        max-width: 1200px;
    }
}